@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Open+Sans&display=swap');

.page{
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
}

body{
    display: flex;
    background-color: #2C2B3D;
    padding: 2em;
}


header{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    display: flex;
    gap: 4em;
    color: #FFFFFF;
    font-family: 'JetBrains Mono', monospace;
}

a:hover{
    color: rgba(0, 191, 166, 1);
    cursor: pointer;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem;
    gap: 5rem;
    padding: 1%;
}

section{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

h1{
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 700;
    Font-size: 2.5rem;
    line-height: 2rem;
    color: #FFFFFF;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #C2C2C2;
}

span{
    color:rgba(0, 191, 166, 1)
}

footer > p{
    border: 1px solid #00BFA6;
    width: 40em;
    height: 0em;
    margin: 0 auto;
    display: block;
    font-size: 1em;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    color: #FFFFFF;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


